:root {
    --bg: #222222;
    --fg: white;
    --action: #46B6E6;
    --success: #00aa88;
    --warn: orange;
    --err: red;
    /*#9DE9C0*/
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.75em;
}

::marker {
    font-size: 1em;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--bg);
    color: var(--fg);
    margin: 0;
    padding: 0;
}

body {
    max-width: 50%;
    margin-inline: auto;
}

a {
    color: var(--action);
}

button, input[type="submit"] {
    background: var(--action);
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

button.warn, input[type="submit"].warn {
    background: var(--warn);
}

button.err, input[type="submit"].err {
    background: var(--err);
}

img.icon {
    height: 1em;
}

summary {
    cursor: pointer;
    user-select: none;
    padding: .5em;
}

form {
    display: flex;
    place-items: baseline;
    place-content: center;
    gap: .5em;
}

.fill-h {
    min-height: 100%;
}

.fill-w {
    min-width: 100%;
}

.flex-input {
    display: flex;
    place-items: baseline;
    place-content: center;
}
.flex-input * {
    flex: 1;
}

.flash {
    padding: .5em;
    margin: .5em 0;
    font-size: 1.1em;
    background: var(--warn);
    color: var(--bg);
    font-weight: 500;
}

.flash.err {
    background: var(--err);
}

.flash.success {
    background: var(--success);
}

/* Custom components */

spacer {
    flex: 1;
}