{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Components{% endblock %}</h1>
{% endblock %}

{% block script %}
  <script>
    function copyToClipBoard(item) {
      console.log(item);
      if(navigator.clipboard){
        navigator.clipboard.writeText(item);
        alert("Copied!");
      }
      else {
        alert("Clipboard not available, content written to devconsole instead!");
      }
    }
  </script>
{% endblock %}

{% block content %}
  <h2>Service</h2>
  <div class="actions">
    <form method="post" action="/components/update">
      <input type="submit" value="Update Components" class="warn" title="Updating components will erase their state.">
    </form>
    <!-- <form method="post" action="/components/restart">
      <input type="submit" value="Restart yacs" class="warn" title="Restarting yacs will erase all component's state.">
    </form> -->
    <form method="post" action="/components/kill">
      <input type="submit" value="Kill yacs" class="err" title="Killing yacs will kill this management interface as well." onclick="return confirm('Killing yacs will stop this management interface. You won\'t be able to restart it without direct access to the server. Please confirm you want to continue with this action.');">
    </form>
  </div>
  <h2>Systemd</h2>
  <div class="actions">
    <form method="post" action="/components/systemd/restart">
      <input type="submit" value="Restart yacs through systemd" class="warn" title="Restarting yacs will erase all component's state.">
    </form>
  </div>
  <h2>Host</h2>
  <div class="actions">
    <form method="post" action="/system/restart">
      <input type="submit" value="Restart Host" class="err" title="Restarting the host computer might not be possible depending on the permissions yacs has been given." onclick="return confirm('Restarting the computer will stop this management interface until it is started again. If you don\'t have a way to start yacs, this is a really bad idea. Please confirm you want to continue with this action.');">
    </form>
  </div>
  {% if components %}
    <h2>Installed components:</h2>
    <div class="components">
      {% for component in components %}
        <div title="{{ component }}">
          <details>
            <summary>
              <div class="component-summary">
                {{ component.name }}
                <spacer></spacer>
                <form method="post" action="/components/remove">
                  <input type="hidden" name="cname" value="{{ component.name }}" />
                  <input type="submit" value="×" class="err">
                </form>
                <form method="post" action="/components/add">
                  <input type="hidden" name="cname" value="{{ component.name }} 2" />
                  <input type="hidden" name="curl" value="{{ component.pull_url }}" />
                  <input type="hidden" name="crun" value="{{ component.run }}" />
                  <input type="submit" value="duplicate">
                </form>
                <button title="copy to clipboard" onclick='copyToClipBoard(`{{ toml.dumps(component) }}`)'><img class="icon" alt="copy to clipboard" src="{{ url_for('static', filename='icons/clipboard-regular.svg') }}" /></button>
              </div>
            </summary>
            <div class="component-details">
              <p>Name: {{ component.name }}</p>
              <p>Pull url: {{ component.pull_url }}</p>
              Run Steps:
              <ol>
                {% for step in component.run %}
                  <li>{{ step }}</li>
                {% endfor %}
              </ol>
            </div>
          </details>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h2>No components installed according to component manifest</h2>
  {% endif %}
  <hr />
  <details>
      <summary>Add a component</summary>
      <form method="post" action="/components/add" class="fill-w">
          <div class="flex-input">
            <label for="cname">Component name:</label>
            <input name="cname" id="cname" required>
          </div>
          <br />
          <div class="flex-input">
            <label for="curl">Component pull url:</label>
            <input name="curl" id="curl" required>
          </div>
          <br />
          <div class="flex-input">
            <label for="crun">Component run commands:</label>
            <input name="crun" id="crun" required placeholder='separate commands with a semicolon ";"'>
          </div>
          <br />
          <div class="flex-input">
            <input type="submit" value="Add component">
          </div>
      </form>
  </details>
{% endblock %}

{% block style %}
  <style>
    .actions {
      margin: .5em 0;
      padding: .5em 0;
    }
    form {
      display: inline-block;
    }
    .component-summary {
      display: inline-flex;
      gap: .25em;
      min-width: calc(100% - 2em);
    }
  </style>
{% endblock %}